@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #EAEAEA;
    margin: 0px;
}
* {
    box-sizing: border-box;
}
#header {
    display: flex;
    height: 100px;
    background-color: #2A3439;
    margin: 0px;
}
#header #logo{
    padding: 0px;
    margin: 0px 40px;
    width: 300px;
    height: 100%;
}
#header #pageLinks{
     border: 1px solid black;
     margin-left:auto;
}
#header #profileName{
    position:absolute;
    right:65px;
    font-size:13px;
    color: #f5f5f5;
}
#searchBarContainer {
    display:block;
    position:absolute;
    left: 400px;
    margin-left: auto;
    margin-right: auto;
    top:20px;
}
#searchBarContainer a {
    margin: 3px;
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    width: 49px;
}
#searchBarContainer a:hover {
    font-size:large;
    cursor: pointer;
}

#submitSearch {
    border-radius: 10px;
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 5px;
    margin-top:2px;
    padding:11px;
    display: inline-block;
    background-image: linear-gradient(#7F0000, #9D00FF);
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.5));
}

#submitSearch:hover {
    transition: .5s;
    border-radius: 30px;
    box-shadow: 0px 0px 7px 7px #662582;
    border: 1px solid #f5f5f5;
}

#inputText {
    display: inline-block;
    margin-top:3px;
    width: 500px;
    height: 45px;
    border-radius: 10px;
    padding-left: 12px;
    font-size: 17px;
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.5));
    border:none;
}

#uploadFileForm {
    text-align: center;
    display: none;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 5px;
}
#filesGrid {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left:300px;
}
#departmentFiles {
    background-color: #F5F5F5;
    width: 200px;
    height: 225px;
    padding: 0px;
    margin: 20px;
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}
#departmentFiles:hover{
    transition: .3s;
    filter: drop-shadow(0px 5px 10px #662582);
}
#filesGrid #departmentFiles #fileDropDown {
    background-color: #F5F5F5;
    padding-left: 125px;
    height: 125px;
    border-radius: 5px;
}
#departmentFiles #fileBanner{
    background-color: #2A3439;
    padding: 0px;
    margin: 0px; 
    color: #FFFFFF;
    border-radius: 5px;
}
#fileBanner p {
    font-size:15px;
    font-weight: 200;
    text-align: center;
    padding:2px;
    margin:0px;
}
#sideBar {
    position: absolute;
    top:100px;
    width: 300px;
    z-index: 1;
}
#departments {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    padding: 0px;
    margin: 0px;
    border: 1.25px solid #2A3439;
}
#users {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    padding: 0px;
    margin: 0px;
    border: 1.25px solid #2A3439;
}
#subHeading {
    width: 300px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 1.25px solid #2A3439;
    background-color: #660000;
    color: #F5F5F5;
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.5));
}
#subHeading h4{
    margin: 13px;
    font-weight: 200;
}
#departments p {
    font-size:15px;
    height:50px;
    text-align: right;
    padding: 13px;
    width: 100%;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
}
#users p {
    font-size: 15px;
    height: 50px;
    text-align: right;
    padding: 13px;
    width: 100%;
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#LoginForm {
    border-radius: 3px;
    margin-top: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 525px;
    width: 375px;
    border: 1px solid #2A3439;
}
#FormInputs {
    font-size:16px;
    border-radius: 5px;
    border: none;
    width:300px;
    margin: 20px;
    height:45px;
}
#welcomeMessage {
    background-color: #2A3439;
}
#welcomeMessage img{
    width: 65px;
}
#loginSubmitBtn {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    color: #f5f5f5;
    margin: 35px 10px;
    border-radius: 50px;
    width: 250px;
    height: 45px;
    border: none;
    background-image: linear-gradient(#7F0000, #9D00FF);
    color: #f5f5f5;
    border: none;
    cursor: pointer;
}
#loginSubmitBtn:hover{
    transition: .3s;
    box-shadow: 0px 0px 20px 4px #662582;
}
