@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using JetCloud.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
    <h2 class="display-4">Welcome</h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <h4>Welcome, @UserManager.GetUserName(User)</h4>

@*        <form method="post">
            <table class="table">
            @foreach(var dep in Model.departments)
            {
            <tr>
              <td>@dep.departmentID</td>
              <td>@dep.departmentName</td>
              <td><button id="Edit" type="submit" asp-page-handler="Edit" asp-route-departmentID="@dep.departmentID">Edit</button></td>
            </tr>
            }
            </table>
        </form>*@
@*        <form method="post" enctype="multipart/form-data">
            <h4>File Details</h4>
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="newFile.fileName">File Name</label>
                <input asp-for="newFile.fileName" />
            </div>
            <div>
                <label asp-for="newFile.departmentID">Department ID</label>
                <input asp-for="newFile.departmentID" />
            </div>
            <div>
                <label asp-for="newFile.fileDate">Todays Date</label>
                <input asp-for="newFile.fileDate" />
            </div>
            <div>
                <label >Upload File</label>
                <input type="file" id="File1" name="File1" multiple="multiple" />
            </div>
            <input class="EnterFilesBtn" type="submit" />
        </form>
*@

        <form enctype="multipart/form-data" method="post">
            <div>
                <label asp-for="newFile.fileName">File Name</label>
                <input asp-for="newFile.fileName" />
            </div>
            <div>
                <label asp-for="newFile.departmentID">Department ID</label>
                <input asp-for="newFile.departmentID" />
            </div>
            <dl>
                <dt>
                    <label for="newFile.fileData"></label>
                </dt>
                <dd>
                    <input asp-for="newFile.fileData" type="file" multiple="multiple"/>
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
        </form>
    }
   
</div>
   