@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="LoginForm" method="post">
    <div id="welcomeMessage">
        <img src="~/img/JetCloudsLogoSolo.png" alt="logo">
    </div>
    <div asp-validation-summary="All"></div>
    <div>
        <input id="FormInputs" type="text" asp-for="Input.Email" placeholder="Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <input id="FormInputs" type="password" asp-for="Input.Password" placeholder="Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div id="formActions">
        <button id="loginSubmitBtn" type="submit">LOGIN</button>
    </div>
    <div id="RegisterText">
        <p5>Don't have an account? <a asp-page="/Register">Register Here</a></p5>
    </div>


</form>