@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    //Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using JetCloud.Data
@using Microsoft.Extensions.Options

<form id="RegisterForm" asp-action="Register" class="RegisterForm" method="post">
    <div id="welcomeMessage">
        <h4>Registration Details</h4>
    </div>
    

    <label id="FormLabels" asp-for="newUser.GivenName"></label>
    <input id="RegisterInputs" type="text" asp-for="newUser.GivenName" name="GivenName" placeholder="GivenName" />
    
    <label id="FormLabels" asp-for="newUser.SurName"></label>
    <input id="RegisterInputs" type="text" asp-for="newUser.SurName" name="SurName" placeholder="SurName" />


    <label id="FormLabels" asp-for="newUser.Title"></label>
    <input id="RegisterInputs" type="text" asp-for=" newUser.Title" name="Title" placeholder="Title" />
      
  
    <label id="FormLabels" asp-for="newUser.Dob">Date of Birth</label>
    <input id="RegisterInputs" asp-for="newUser.Dob" name="Dob" />
       

    <label id="FormLabels" asp-for="newUser.DepartmentID"></label>
    <input id="RegisterInputs" asp-for="newUser.DepartmentID" name="DepartmentID" />
      

    <label id="FormLabels" asp-for="Input.Email"></label>
    <input id="RegisterInputs" asp-for="Input.Email" />
    <span asp-validation-for="Input.Email"></span>

    <label id="FormLabels" asp-for="Input.UserName"></label>
    <input id="RegisterInputs" asp-for="Input.UserName" />
    <span asp-validation-for="Input.UserName"></span>

    <label id="FormLabels" asp-for="Input.Password"></label>
    <input id="RegisterInputs" asp-for="Input.Password" />
    <span asp-validation-for="Input.Password"></span>

    <label id="FormLabels" asp-for="Input.ConfirmPassword"></label>
    <input id="RegisterInputs" asp-for="Input.ConfirmPassword" />
    <span asp-validation-for="Input.ConfirmPassword"></span>
 
    <button id="RegisterBtn" type="submit">Register</button>
</form>
